<div class="table-container">
  <mat-table #table [dataSource]="dataSource">
    <!---View Journal Component -->

    <!-- Date Column -->
    <ng-container matColumnDef="LastUpdated">
      <mat-header-cell *matHeaderCellDef> Last Updated </mat-header-cell>
      <mat-cell *matCellDef="let journal">
        {{ journal.lastUpdated | date: 'short' }}
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let journal"> {{ journal.title }} </mat-cell>
    </ng-container>

    <!-- Entry Column -->
    <ng-container matColumnDef="Body">
      <mat-header-cell *matHeaderCellDef> Entry</mat-header-cell>
      <mat-cell *matCellDef="let journal"> {{ journal.body }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
      <mat-cell *matCellDef="let journal">
        <button  class="view" >
          <mat-icon (click)="getJournal(journal.journalID)">visibility</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>


    <mat-toolbar>

      <button class="home">
        <mat-icon>home</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button class="create">
        <mat-icon>create</mat-icon>
      </button>
    </mat-toolbar>
