<button class="delete">
  <mat-icon>delete</mat-icon>
</button>

<h3>Journal One: Used 54321 technique</h3>
<br>
<h4>2:42pm 2/18/2022</h4>
<br>

Today I had a complete meltdown in the grocery store but was able to connect with my surroundings again and calm down by using the 54321 technique. I felt triggered by some of the people there and have been stressed out at work.
<mat-toolbar>

<button class="home">
  <mat-icon>home</mat-icon>
</button>
<span class="example-spacer"></span>
<button class="create">
<mat-icon>edit</mat-icon>
</button>
</mat-toolbar>
